:root
{

}

.mainCol
{
  width: 80%;
  margin: auto;
  min-height: 100vh;
}

*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.hidden{
  display: none;
}

.loginPopUp
{
  justify-content: center;
  align-items: center;
  height: 100%;
}

.row
{
  display: flex;
  flex-direction: row;
}

.col
{
  display: flex;
  flex-direction: column;
}