:root
{

}

.mainCol
{
  width: 80%;
  margin: auto;
  min-height: 100vh;
}

*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.hidden{
  display: none;
}

.loginPopUp
{
  justify-content: center;
  align-items: center;
  height: 100%;
}

.row
{
  display: flex;
  flex-direction: row;
}

.col
{
  display: flex;
  flex-direction: column;
}

.messages
{
  height: 80vh;
  overflow-x: hidden;
  overflow-y: scroll;
}

.sendForm
{
  background: gray;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  input{
    font-size: 2rem;
    height: 3rem;
  }

}